*, *::before, *::after {
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background-color: #4B0082;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(4, 20vmin);
    grid-template-rows: repeat(4, 20vmin);
    background-color: #ccc;
    gap: 2vmin;
}

.cell { 
    background-color:#AAA;
    border-radius: 1vmin;
}